body{
  background-color: #90e0ef;
}
.App{
  background-color: #264653;
  min-height: 650px;
  width: 400px;
  margin: 40px auto;
}

h1{
  color: #fff;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 20px;
}

#to-do-form input{
  background-color: rgb(27,112,137);
  border: 0;
  width: 210px;
  height: 40px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
  color: #fff;
}

#to-do-form input::placeholder{
  color: rgba(255,255,255,0.5)
}

#to-do-form input,button:focus{
  outline: none;
}

#to-do-form button{
  height: 40px;
  width: 90px;
  border: 0;
  border-radius: 5px;
  background-color: #f4a261;
  cursor: pointer;
  font-weight: bolder;
  color: #fff;
}