.list{
    color: #fff;
    width: 350px;
    background-color: #457b9d;
    height: 50px;
    margin: 20px auto;
    border-radius: 5px;
}

.list p{
    padding: 10px;
    position: relative;
}

.list p span{
    position: absolute;
    right: 10px;
    cursor: pointer;
}
.faicons{
    margin: 5px;
    font-size: 15px;
}

.list p input{
    background-color: transparent;
    border: 0;
    color: #ffff;
    font-size: 18px;
}

.list p input:focus{
    outline: none;
}